.album-card {
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.album-card,
.card {
  min-width: 162px;
  max-width: 162px;
}

/* Remove underlines on the card text */
.card:hover {
  text-decoration: none;
}

.card-img-top {
  width: 160px;
  height: 160px;
  transition: opacity 0.2s ease-in-out;
}

.album-card:hover .card-img-top {
  opacity: 0.8;
}

.card-title,
.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
}
