<div class="container p-5 py-auto" id="signin">
  <form class="form-signin px-4 py-3 bg-light rounded custom-shadows" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <img class="w-100 mb-3" src="assets/images/logo/airsonic-dark-350x100.png">
    <div class="form-group">
      <label class="mb-1" for="inputUser">Username</label>
      <div class="input-group">
        <input [(ngModel)]="model.user" name="user" id="inputUser" class="form-control form-control-sm" required autofocus>
      </div>
    </div>
    <div class="form-group">
      <label class="mb-1" for="inputPassword">Password</label>
      <div class="input-group">
        <input [(ngModel)]="model.password" name="password" type="password" id="inputPassword" class="form-control form-control-sm" required>
      </div>
    </div>
    <div class="form-group">
      <label class="mb-1" for="inputServer">Server location</label>
      <div class="input-group">
        <input [(ngModel)]="model.server" name="server" id="inputServer" class="form-control form-control-sm" required>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" (click)="onSubmit()" type="submit">Sign in</button>
    </div>
  </form>
</div>
