<div class="container">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group">
      <label for="inputUser" class="sr-only">Email address</label>
      <input [(ngModel)]="model.user" name="user" id="inputUser" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="model.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label for="inputServer" class="sr-only">Server Url</label>
      <input [(ngModel)]="model.server" name="server" id="inputServer" class="form-control" placeholder="Server Url" required>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" (click)="onSubmit()" type="submit">Sign in</button>
    </div>
  </form>
</div>
