<nav class="navbar fixed-bottom navbar-dark bg-dark min-width">
  <ul class="nav col-4 m-0">
    <li class="nav-item mr-1">
      <img src="{{albumImageUrl()}}" width="48" height="48" alt="">
    </li>
    <li class="nav-item mr-1">
      <span class="navbar-text py-0">
      {{stream?.mediaFile?.artist}}<br>
      <span class="text-muted py-0">{{stream?.mediaFile?.title}}</span>
    </span>
    </li>
  </ul>
  <ul id="controls" class="nav col-4 justify-content-center">
    <li>
      <ul class="nav">
        <li class="nav-item">
          <a (click)="previous()"><i class="material-icons md-light md-48">skip_previous</i></a>
        </li>
        <li class="nav-item">
          <a *ngIf="stream && stream.isPlaying; else playBlock" (click)="pause()"><i class="material-icons md-light md-48">pause_circle_filled</i></a>
          <ng-template #playBlock><a (click)="play()"><i class="material-icons md-light md-48">play_circle_filled</i></a></ng-template>
        </li>
        <li class="nav-item">
          <a (click)="next()"><i class="material-icons md-light md-48">skip_next</i></a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="col-4 nav justify-content-end">
    <li class="nav-item d-inline-flex">
      <i class="material-icons md-light">volume_mute</i>
      <input class="form-control bg-dark no-borders" type="range" min="0" max="1" step=".01" (ngModelChange)="volumeChange($event)" [(ngModel)]="volume" [ngModelOptions]="{standalone: true}" />
      <i class="material-icons md-light">volume_up</i>
    </li>
  </ul>
</nav>
