$side-menu-width: 13em;
$media-controls-height: 56px;

#side-menu, #content {
  transition: margin 0.4s ease;
  min-height: calc(100vh - #{$media-controls-height});
  margin: 0;
}

#side-menu {
  position: fixed;
  top: 0;
  width: $side-menu-width;
  overflow-y: auto;
  .nav {
    .nav-link, .material-icons {
      font-size: 15px;
    }
    .nav-brand img {
      height: 48px;
    }
  }
}

#content {
  min-width: calc(600px - #{$side-menu-width});
  margin-left: $side-menu-width;
  margin-bottom: $media-controls-height;
}

/* Toggle side-menu */
.hide-side-menu { margin-left: -$side-menu-width !important; }
.expand-content { margin-left: 0 !important; }
