<div class="container-fluid m-0 p-0 d-flex flex-row">
  <div id="side-menu" class="p-0 bg-dark" [class.hide-side-menu]="sideMenuClosed">

    <div class="m-0 p-0">
      <nav class="nav flex-column">
        <a class="nav-brand mx-auto mb-1" routerLink=""><img src="assets/images/logo/airsonic-light-350x100.png"></a>
      </nav>
      <nav class="nav flex-column">
        <a class="nav-link text-white p-1" routerLink=""><i class="material-icons mx-3">music_note</i>Playing</a>
        <a class="nav-link text-white p-1" routerLink=""><i class="material-icons mx-3">star</i>Starred</a>
        <a class="nav-link text-white p-1" routerLink=""><i class="material-icons mx-3">playlist_play</i>Playlists</a>
        <a class="nav-link text-white p-1" routerLink=""><i class="material-icons mx-3">settings</i>Settings</a>
      </nav>
    </div>

  </div>
  <div id="content" class="p-0 w-100" [class.expand-content]="sideMenuClosed">

    <app-top-bar [username]="username" ></app-top-bar>
    <nav class="navbar bg-secondary p-1">
      <div class="nav-item">
        <app-music-folders></app-music-folders>
      </div>
    </nav>
    <div class="container-fluid m-0 p-0">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
<app-media-controls></app-media-controls>
