<div class="container-fluid m-0 p-0 d-flex flex-row">
    <div class="m-0 p-0 bg-dark" id="side-menu" [class.side-menu-closed]="sideMenuClosed">
      <!-- Side-menu toggler -->
      <button id="side-menu-toggle" (click)="toggleSideMenu()" type="button" class="btn btn-sm btn-primary"><i class="material-icons">arrow_forward</i></button>
      <nav class="nav sticky-top flex-column">
        <a id="logo" class="mx-auto mb-3" routerLink=""><img src="assets/images/logo/airsonic-light-350x100.png"></a>
        <a class="nav-link text-white" routerLink=""><i class="material-icons mr-1">music_note</i> Playing</a>
        <a class="nav-link text-white" routerLink=""><i class="material-icons mr-1">star</i> Starred</a>
        <a class="nav-link text-white" routerLink=""><i class="material-icons mr-1">playlist_play</i> Playlists</a>
        <a class="nav-link text-white" routerLink=""><i class="material-icons mr-1">settings</i> Settings</a>
      </nav>
    </div>

    <div class="m-0 p-0 w-100" id="content">
      <app-top-bar [username]="username" ></app-top-bar>
      <div class="container-fluid m-0 p-0">
        <router-outlet></router-outlet>
      </div>
    </div>

</div>
<app-media-controls></app-media-controls>
