#side-menu {
  min-height: 100vh;
  width: 13em;
  transition: margin 0.4s ease;
  nav {
    .nav-link, .material-icons {
      font-size: 14px;
    }
    #logo img {
      height: 44px;
    }
  }
}

/* Close side-menu */
.side-menu-closed { margin-left: -13em !important; }

#content {
  margin-bottom: 64px !important;
}
