<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-1">
  <a class="navbar-brand p-0 m-0 ml-3" routerLink=""><img src="assets/images/logo/airsonic-dark-350x100.png"></a>
  <button class="navbar-toggler" (click)="collapseOpen()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.collapse]="collapsed" id="navbarSupportedContent">
    <form class="mx-auto my-auto d-inline w-50" #searchForm="ngForm" (submit)="onSearch(query)">
      <div class="input-group">
          <input class="form-control" i18n-placeholder="@@Search" placeholder="Search" [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
          <span class="input-group-btn">
            <button class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
          </span>
      </div>
    </form>
    <ul class="navbar-nav" (appClickOutside)="closeMenu()">
      <li class="nav-item dropdown" [class.show]="menuOpen">
        <a class="nav-link mx-auto" id="logout-menu" (click)="openMenu()">
          <i class="material-icons">account_circle</i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" [class.show]="menuOpen">
          <li class="dropdown-item disabled">{{username}}</li>
          <li class="dropdown-item"><a id="logout" (click)="logout()" i18n="@@Logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>

</nav>


    <!--<app-side-menu>-->
      <div class="container-fluid" id="content">
        <router-outlet></router-outlet>
      </div>
    <!--</app-side-menu>-->
<app-media-controls></app-media-controls>
