<div class="card">
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="pl-3">#</th>
        <th>Name</th>
        <th><i class="material-icons">access_time</i></th>
        <th class="pr-3"><i class="material-icons">music_note</i></th>
      </tr>
      </thead>
      <tbody>
      <tr class="song-row" *ngFor="let song of songs" (click)="playSong(song)">
        <td class="pl-3">{{song.track}}</td>
        <td>{{song.title}}</td>
        <td>{{song.duration | time}}</td>
        <td class="pr-3">{{song.playCount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
