html, body, .min-width {
  min-width: 600px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Fix bad vertical align with icons */
* > i.material-icons {
    vertical-align: middle;
}

/* Custom styling rules */
.custom-full-height {
  min-height: 100%;
}

.custom-shadows {
  -webkit-box-shadow: 0px 30px 50px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 30px 50px 10px rgba(0,0,0,0.6);
  box-shadow: 0px 30px 50px 10px rgba(0,0,0,0.6);
}


/* Boostrap fix: Better use padding */
.row {
  margin: 0;
}

/* Boostrap fix: Use pointer when hovering a button */
button, .btn, a {
  cursor: pointer;
}
