#profil-menu {
  padding-bottom: 0;
  padding-top: 0;
  .material-icons {
    font-size: 30px;
  }
  a {
    display: block;
  }
}

#side-menu-toggle {
  .material-icons{
    font-size: 36px;
    transition: transform 0.4s ease;
  }
}
.side-menu-toggled {
  transform: rotate(180deg);
}
