/* Fix boostrap underline on link hover */
a:hover { text-decoration: none; }

#side-menu-toggle {
  .material-icons{
    transition: transform 0.4s ease;
  }
}
.side-menu-toggled { transform: rotate(180deg); }
