<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top p-1">

  <!-- Side-menu toggler -->
  <a class="d-block" id="side-menu-toggle" (click)="toggleSideMenu()"><i [class.side-menu-toggled]="sideMenuClosed" class="material-icons md-36">keyboard_arrow_left</i></a>

  <button class="navbar-toggler" (click)="collapseOpen()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.collapse]="collapsed" id="navbarSupportedContent">

    <form class="mx-auto my-auto d-inline w-50" #searchForm="ngForm" (submit)="onSearch(query)">
      <div class="input-group">
          <input class="form-control py-0" placeholder="{{ 'top-bar.search' | translate }}" [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-outline-secondary"><i class="material-icons">search</i></button>
          </span>
      </div>
    </form>

    <ul class="navbar-nav" (appClickOutside)="closeProfilMenu()">
      <li class="nav-item dropdown" [class.show]="profilMenuOpen">
        <a class="nav-link mx-auto d-block py-0" (click)="openProfilMenu()">
          <i class="material-icons md-24">account_circle</i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right mt-3 p-0 text-right" [class.show]="profilMenuOpen">
          <li class="dropdown-item px-2 rounded"><a class="d-block">{{username|titlecase}}<i class="material-icons md-24 ml-3">face</i></a></li>
          <li class="dropdown-item px-2 rounded"><a class="d-block" (click)="logout()">{{ 'top-bar.logout' | translate }}<i class="material-icons md-24 ml-3">power_settings_new</i></a></li>
        </ul>
      </li>
    </ul>

  </div>

</nav>
