<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top p-1">

  <!-- Side-menu toggler -->
  <a class="d-block" id="side-menu-toggle" (click)="toggleSideMenu()"><i [class.side-menu-toggled]="sideMenuClosed" class="material-icons md-36">keyboard_arrow_left</i></a>

  <button class="navbar-toggler" (click)="collapseOpen()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.collapse]="collapsed" id="navbarSupportedContent">

    <form class="mx-auto my-auto d-inline w-50" #searchForm="ngForm" (submit)="onSearch(query)">
      <div class="input-group p-2 p-lg-0">
          <input class="form-control py-0 rounded-0" placeholder="{{ 'top-bar.search' | translate }}" [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-secondary rounded-0 "><i class="material-icons">search</i></button>
          </span>
      </div>
    </form>

    <ul class="navbar-nav" (appClickOutside)="closeProfilMenu()">
      <li class="nav-item dropdown" [class.show]="profilMenuOpen">
        <a class="nav-link mx-auto d-none d-lg-block py-1 py-lg-0 text-center" (click)="openProfilMenu()">
          <i class="material-icons md-24">account_circle</i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right mt-lg-3 p-2 p-lg-0 text-right rounded-0" [class.show]="profilMenuOpen">
          <li *ngIf="hasRole('settingsRole')" class="dropdown-item px-2"><a class="d-block" routerLink="profile" (click)="closeProfilMenu()">{{ username | titlecase }}<i class="material-icons md-24 ml-3">face</i></a></li>
          <li class="dropdown-item px-2"><a class="d-block" (click)="logout()">{{ 'top-bar.logout' | translate }}<i class="material-icons md-24 ml-3">power_settings_new</i></a></li>
        </ul>
      </li>
      <div class="d-inline-flex justify-content-end d-lg-none text-white">
        <a *ngIf="hasRole('settingsRole')" class="btn btn-sm btn-secondary mr-2" routerLink="profile">{{ 'top-bar.profile' | translate }}<i class="material-icons md-24 ml-3">face</i></a>
        <a class="btn btn-sm btn-secondary mr-2" (click)="logout()">{{ 'top-bar.logout' | translate }}<i class="material-icons md-24 ml-3">power_settings_new</i></a>
      </div>
    </ul>

  </div>

</nav>
